.section3 {
  padding: 2rem 6rem 5rem 6rem;
  display: grid;
  place-items: center;
  text-align: center;
  color: black;
}

.section3 h2 {
  font-size: 3rem;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
  transform: scale(0.3);
}
.section3 h2.active {
  opacity: 1;
  transform: scale(1);
}
.section3 p {
  font-size: 1.2rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.col {
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  /* transition: all 0.3s ease 0s; */
}

.col:hover {
  background: linear-gradient(180deg, #6a5aff, #baa0ff);
  /* background: linear-gradient(180deg, #8e2de2 0%, #4a00e0 100%); */

  /* cursor: pointer; */
  color: white;
}

.col h3 {
  text-align: center;
  padding: 1rem;
}

.col p {
  padding: 1.5rem;
  border-left: 0.3px solid gray;
  border-right: 0.3px solid gray;
  border-top: 0.3px solid gray;
  line-height: 1.5;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
  }
  .section3 {
    padding: 0;
  }
}
